html,
body {
  height: 100%;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Aquarium-PageHeader {
  padding-bottom: 0;
}

/* Make the table pagination responsive with the layout. */
.Aquarium-Pagination {
  display: flex;
}

/* Utility classes. */
.flex-wrap {
  flex-flow: wrap;
}
