.navbar {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-right: 1rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24), 0px 2px 4px rgba(90, 91, 106, 0.24);
}

@media (max-width: 600px) {
  .netlifyDeployButton {
    display: none;
  }
}
